* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//yeah I get ride of that hideous padding once and for all for all my ul!!
ul {
  padding-inline-start: 0;
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
}

a {
  text-decoration: none;
  word-wrap: break-word;
}

::before {
  box-sizing: border-box;
}

::after {
  box-sizing: border-box;
}
